body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050b14;
  color: white;
}

nav {
  background: #020814;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #4cc9f0;
  margin: 0;
}

nav a {
  color: #ccc;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #4cc9f0;
}

.container {
  padding: 60px;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #4cc9f0;
}

footer {
  text-align: center;
  opacity: 0.5;
  margin-top: 80px;
}
