* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #eef7ff;
  color: #111;
}

.navbar {
  background: #9fd3ff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
}

.container {
  padding: 40px;
}

.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.details,
.buy-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.buy-box input,
.buy-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.buy-box textarea {
  min-height: 70px;
  resize: vertical;
}

.pay-btn {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background: #d8ecff;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  color: #111;
}

button {
  width: 100%;
  padding: 12px;
  background: #4faaff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .product-page {
    grid-template-columns: 1fr;
  }
}
